html, body, *{
    box-sizing: border-box; 
    margin:0;
    font-family: "Roboto", sans-serif;
}

section{
    padding:40px 0;
}

/* #### Header, NAV #### */

header, #hero_section, footer{
    background-color:#1F2937;
    color:#F9FAF8;
}

header{
    display:flex;
    justify-content:space-between;
    padding:9px 0 60px 0;;
}

#header_logo{
    margin-left:10%;
    font-size: 24px;
}

.top_nav{
    list-style-type:none;
    display:inline;
    padding:0;
    margin-right:10%;
}

.top_nav li{
    display:inline;
    margin-left:9px;
}

.top_nav li a{
    color:#F9FAF8;
    text-decoration:none;
}

/* #### HERO #### */

#hero_section{
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:9px 10% 9px 10%;
    font-size:18px;
}

.hero_left{
    padding-right:9px;
}

.hero_left > *{
    margin-bottom:20px;
}

#hero_section h1{
    font-weight: 700;
    font-size:48px;
    line-height:1em;
}

.grey_box{
    width:50%;
    background-color:#707070;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
}

/* #### INFO #### */

#info_section{
    display:flex;
    flex-direction:column;
    align-items: center;
}

#info_section h2{
    margin-bottom:1em;
}

.row{
    display:flex;
    justify-content:space-between;
    gap:9px;
}

#info_section figure{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:18px;
}

.rounded_box{
    width:140px;
    border:2px solid lightblue;
    border-radius:10px;
    height:180px;
    width:180px;
}

#info_section figcaption{
    display:block;
    text-align:center;
}

/* #### Quote #### */

#quote_section{
    background-color:#E5E7EB;
    padding:60px 12.5% 60px 12.5%;
}

blockquote p{
    font-style:italic;
    font-weight:200;
    font-size:36px;
}

blockquote footer{
    background-color:inherit;
    color:inherit;
    font-weight:bold;
    text-align:right;
}
