html, body{
    margin:0;
    font-family: "Roboto", sans-serif;
}

header, #hero_section, footer{
    background-color:#1F2937;
    color:#F9FAF8;
}

header{
    display:flex;
}

#header_logo{
    font-size: 24px;
}

.top_nav{
     /* padding:0 auto 0 auto;ul hat noch oben und unten nervige Abstände */
    list-style-type:none;
    display:inline;
}

.top_nav li{
    display:inline;
}

.top_nav li a{
    color:#F9FAF8;
    text-decoration:none;
}

#hero_section{
    width:1000px;
    display:flex;
    font-size:18px;
}

.grey_box{
    background-color:#707070;
    display:flex;
    flex-direction:column;
    align-items: center;
    /* padding:20px auto 20px auto; soll in die Mitte */
}

#info_section{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.row{
    display:flex;
}

#info_section figure{
    width:140px;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:18px;
}           /* figcaption muss auch zentriert werden, vllt mit gap? */

.rounded_box{
    border:2px solid lightblue;
    border-radius:10px;
    height:180px;
    width:180px;
}

#info_section figcaption{
    display:block;
    text-align:center;
}

